<html>
   <head>
      <meta name="viewport" content="width=device-width; height=device-height;">
      <title>{{msg}}</title>
      <style>
	body {
		background-color: black;
		color: white;
		font-family: "IBM Plex Mono", "Source Sans", monospace, sans;
	}
      	.centerm {
		text-align: center;
	}
	.qr {
		padding: 12px;
		background-color: white;
		position: absolute;
		margin-top: 24px;
		margin-right: 24px;
		top: 0;
		right: 0;
	}
	.stream {
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
      </style>
   </head>
   <body>
	   <h1 class="centerm" style="margin-top: 40px">{{msg}}</h1>
	   <!--h1 class="centerm">{{ip_addr}}</h1-->
	   <img class="qr" src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=http://{{ip_addr}}:8081"> 
	   <img class="stream" src="http://{{ip_addr}}:8081/" class="shrinkToFit">
   </body>
</html>
